<section class="arriere-plan gradient-custom">

  <div class="container py-4 mt-1">
    <div class="row d-flex justify-content-center align-items-center h-100 px-2">

      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-white text-dark" style="border-radius: 1rem;">
          <div class="col-md-12 d-flex justify-content-center mt-2">
            <img src="../../assets/douanes.jpeg" alt="logo">

          </div>
          <h3 class="d-flex justify-content-center">GESTION DES MATERIELS</h3>
          <div class="card-body p-5 text-center mb-4">

            <div>


              <div class="form-group d-grid gap-1 mb-4">
                <label class="form-label d-flex align-items-start" for="typeEmailX">Identifiant ou E-mail</label>
                <input type="email" id="typeEmailX" class="form-control form-control-lg" />

              </div>

              <div class="form-group d-grid gap-1 mb-4">
                <label class="form-label d-flex align-items-start" for="typePasswordX">Mot de passe</label>
                <input type="password" id="typePasswordX" class="form-control form-control-lg" />

              </div>
              <div class="row px-3">
                <div class="col-md-6 col-lg-6">

                </div>

                <button class="col-md-6 col-lg-6 btn btn-myprimary btn-md w-30 fw-bold" type="submit">Se connecter</button>

              </div>
              <div class="mt-4">

                <button  type="button" class="d-flex btn btn-outline-secondary text-dark w-100 px-5 fs-7 d-flex justify-content-end">Mot de passe oublié?</button>


              </div>



            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
