<div class="card shadow">

  <div class="card-header d-flex justify-content-center fw-bold bg-myprimary fs-4">

   Ajouter un vehicule
  </div>

  <div class="card-body mt-4">

      <form>

        <div class="row row-space mx-4">
          <div class="col-12 mt-3">
              <div class="input-group">
                  <label class="label">first name</label>
                  <input class="input--style-4  border border-myprimary" type="text" name="first_name">
              </div>
          </div>
          <div class="col-12 mt-3">
              <div class="input-group">
                  <label class="label">last name</label>
                  <input class="input--style-4 border border-myprimary" type="text" name="last_name">
              </div>
          </div>
          <div class="col-12 mt-3">
            <div class="input-group">
                <label class="label">last name</label>
                <input class="input--style-4 border border-myprimary" type="text" name="last_name">
            </div>
        </div>
      </div>

      <div class="row row-space mx-4">
        <div class="col-12 mt-3">
            <div class="input-group">
                <label class="label">first name</label>
                <input class="input--style-4 border border-myprimary" type="text" name="first_name">
            </div>
        </div>
        <div class="col-12 mt-3">
            <div class="input-group">
                <label class="label">last name</label>
                <input class="input--style-4 border border-myprimary" type="text" name="last_name">
            </div>
        </div>
        <div class="col-12 mt-3">
          <div class="input-group">
              <label class="label">last name</label>
              <input class="input--style-4 border border-myprimary" type="text" name="last_name">
          </div>
      </div>
    </div>

    <div class="row row-space mx-4">
      <div class="col-12 mt-3">
          <div class="input-group">
              <label class="label">first name</label>
              <input class="input--style-4 border border-myprimary" type="text" name="first_name">
          </div>
      </div>
      <div class="col-12 mt-3">
          <div class="input-group">
              <label class="label">last name</label>
              <input class="input--style-4 border border-myprimary" type="text" name="last_name">
          </div>
      </div>
      <div class="col-12 mt-3">
        <div class="input-group">
            <label class="label">last name</label>
            <input class="input--style-4 border border-myprimary" type="text" name="last_name">
        </div>
    </div>
  </div>

  <div class="row row-space mx-4">
    <div class="col-12 mt-3">
        <div class="input-group">
            <label class="label">first name</label>
            <input class="input--style-4 border border-myprimary" type="text" name="first_name">
        </div>
    </div>
    <div class="col-12 mt-3">
        <div class="input-group">
            <label class="label">last name</label>
            <input class="input--style-4 border border-myprimary" type="text" name="last_name">
        </div>
    </div>
    <div class="col-12 mt-3">
      <div class="input-group">
          <label class="label">last name</label>
          <input class="input--style-4 border border-myprimary" type="text" name="last_name">
      </div>
  </div>
</div>
<div class="row mx-4">
  <div class=" col-12 text-start p-t-15">
    <button class="btn btn--radius-2 btn--blue1 fw-bold" type="submit" data-bs-toggle="tooltip"
    title="cliquer ici pour valider">Valider</button>
    <button class="btn btn--radius-2 btn--blue2 fw-bold mx-2" type="submit" data-bs-toggle="tooltip"
    title="cliquer ici pour annuler">Annuler</button>
  </div>


</div>



      </form>

  </div>

</div>

<!-- <div class="card">

  <div class="card-header d-flex justify-content-center fw-bold bg-myprimary fs-4">

    Ajouter un vehicule
  </div>



  <div class="card-body">

    <form class="container p-3">

      <div class="row g-4 mb-3">

        <div class="col-3 mx-auto">
          <label for="applyNameId" class="form-label">
            N° de châssis
          </label>
          <input id="applyNameId" name="" type="text"
            class="form-control bg-mywhite border border-myprimary">
        </div>

        <div class="col-3 mx-auto">
          <label for="applyNameId" class="form-label">
            N° de châssis
          </label>
          <input id="applyNameId" name="" type="text"
            class="form-control bg-mywhite border border-myprimary">
        </div>

        <div class="col-3 mx-auto">
          <label for="applyNameId" class="form-label">
            N° de châssis
          </label>
          <input id="applyNameId" name="" type="text"
            class="form-control bg-mywhite border border-myprimary">
        </div>

      </div>



      <div class="row g-4 mb-3">

        <div class="col-3 mx-auto">
          <label for="applyNameId" class="form-label">
            N° de châssis
          </label>
          <input id="applyNameId" name="" type="text"
            class="form-control bg-mywhite border border-myprimary">
        </div>

        <div class="col-3 mx-auto">
          <label for="applyNameId" class="form-label">
            N° de châssis
          </label>
          <input id="applyNameId" name="" type="text"
            class="form-control bg-mywhite border border-myprimary">
        </div>

        <div class="col-3 mx-auto">
          <label for="applyNameId" class="form-label">
            N° de châssis
          </label>
          <input id="applyNameId" name="" type="text"
            class="form-control bg-mywhite border border-myprimary">
        </div>

      </div>



      <div class="row g-4 mb-3">

        <div class="col-3 mx-auto">
          <label for="applyNameId" class="form-label">
            N° de châssis
          </label>
          <input id="applyNameId" name="" type="text"
            class="form-control bg-mywhite border border-myprimary">
        </div>

        <div class="col-3 mx-auto">
          <label for="applyNameId" class="form-label">
            N° de châssis
          </label>
          <input id="applyNameId" name="" type="text"
            class="form-control bg-mywhite border border-myprimary">
        </div>

        <div class="col-3 mx-auto">
          <label for="applyNameId" class="form-label">
            N° de châssis
          </label>
          <input id="applyNameId" name="" type="text"
            class="form-control bg-mywhite border border-myprimary">
        </div>

      </div>



      <div class="row g-4 mb-3">

        <div class="col-3 mx-auto">
          <label for="applyNameId" class="form-label">
            N° de châssis
          </label>
          <input id="applyNameId" name="" type="text"
            class="form-control bg-mywhite border border-myprimary">
        </div>

        <div class="col-3 mx-auto">
          <label for="applyNameId" class="form-label">
            N° de châssis
          </label>
          <input id="applyNameId" name="" type="text"
            class="form-control bg-mywhite border border-myprimary">
        </div>

        <div class="col-3 mx-auto">
          <label for="applyNameId" class="form-label">
            N° de châssis
          </label>
          <input id="applyNameId" name="" type="text"
            class="form-control bg-mywhite border border-myprimary">
        </div>

      </div>








      <div class="row">
        <div class="col-12 mt-3 text-start">
          <button type="submit" class="btn btn-myprimary fw-bold w-25 mx-1" data-bs-toggle="tooltip"
            title="cliquer ici pour ajouter">
            Valider
          </button>

          <button  class="btn btn-myprimary fw-bold w-25 mx-1" data-bs-toggle="tooltip"
            title="cliquer ici pour ajouter">
            Annuler
          </button>
        </div>
      </div>

    </form>

      
  </div>

</div> -->
